#head1 {
	margin-left: 50px;
}
#socimgcov{
			float: right;
			width: 125px;
			margin: 0px;
			padding: 0px;
			padding-right: 5px;
			display: inline-block;

		}
.soccover{
			margin: 0px;
			padding: 0px;
			margin-left: auto;
			margin-right: auto;
			width: 1190px;
		}
#socbar {
			/*border: 0.5px solid green;*/
			border-radius: 5px;
			margin: 0px;
			padding-top: 5px;
			height: 30px;
			margin-left: auto;
			padding-left: 10px;
			/*margin-right: auto;*/
			width: 315px;
			background-color: #b2b266;
			background: rgb(153, 204, 255); /* Fallback for older browsers without RGBA-support */
    		background: rgba(153, 204, 255, 0.5);
    		height: 35px;
		}
#menu{
			width: 1190px;
			margin: 0px;
			padding-top: 0px;
			height: auto;
			margin-left: auto;
			margin-right: auto;
			text-decoration: none;

		}
#menu ul {
		  background: #77773c;
		  list-style-type: none;
		  text-align: center;
		  background: rgb(153, 204, 255); /* Fallback for older browsers without RGBA-support */
    	  background: rgba(153, 204, 255, 1);
		  border-radius: 5px;
		}

	
#menu li {
		  color: #f1f1f1;
		  display: inline-block;
		  width: 150px;
		  height: 40px;
		  line-height: 40px;
		  margin-left: -5px;
		  border-radius: none;
		}
#menu a {
		  text-decoration: none;
		  color: #fff;
		  display: block;
		  border-radius: 0px;
		}
#menu a:hover {
		  background: #F1F1F1;
		  color: #333;
		}
	
.sub-menu li {
		  display: none;
		  border-radius: 0px;
		}
	
#menu li {
		 position: relative;
		 border-radius: 0px;
		}
.sub-menu {
		 display: none;
		 position: absolute;
		 border-radius: 0px;
		}
#menu li:hover .sub-menu {
		 display: block;
		 z-index: +1;
		 border-radius: 0px;
		}
.sub-menu li {
		 margin-left: 0 !important;
		 border-radius: 0px;
		}


#dinhdang1 {
	margin-left: 50px;
	position: absolute;

}


#form {
	margin-top: 30px;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 240px;
	padding: 50px 20px 0px 60px ;
	box-sizing: border-box;;
	background:orange;
	border-radius: 50px;

}

#dinhdang2 {
	margin-left: 550px;

}
table {
	width: 90%;
	height: 300px;
}
td {
	text-align: center;
	background-color: #99FF33;
}