
img {
	width: 200px;
	height: auto;
	float: left;
	margin-right: 20px;
}
#name {
	font-size: 40px;
  font-weight: 700;
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
  margin-bottom: -6px;
  padding-top: 0px;
}
br {
	margin-bottom: 5px;
}
#contactDetails {
  float: right;
}

#contactDetails ul {
  list-style-type: none;
  font-size: 15px;
  margin-top: 2px;
}

#contactDetails ul li {
  margin-bottom: 3px;
  margin-right: 5px;
  padding-bottom: 5px; 
  color: #00fff6;
}

#contactDetails ul li a, a[href^=tel] {
  color: white; 
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

#contactDetails ul li a:hover { 
  color: #cf8a05;
}
#mainArea {
  padding: 0 40px;
}
.sectionTitle {
  float: left;
  width: 25%;
    font-style: italic;
color: orange;
}
.sectionContent {
  float: right;
  width: 72.5%;
}
h3 {
	color: #ba00ff;
}
div .keySkills {
  list-style-type: none;
  -moz-column-count:3;
  -webkit-column-count:3;
  column-count:3;
  margin-bottom: 20px;
  font-size: 1em;
  color: white;
}
div .keySkills ul li {
  margin-bottom: 3px;
}
div .keySkills {
  -moz-column-count:1;
  -webkit-column-count:1;
  column-count:1;
  }
  div .keySkills {
    -moz-column-count:2;
    -webkit-column-count:2;
    column-count:2;
  }
  div .keySkills {
  -moz-column-count:2;
  -webkit-column-count:2;
  column-count:2;
  }
  #menu{
  	width: 100%;
  	height: 50px;
  	background-color: white;
  	position: relative;
  	margin: 0px 0 50px;
 font-size: 13px
  }
  #main-menu {
  	color: #45c0f8;
  	background: none;
  	  	float: right;

z-index: 1030;
padding: 25px 20px ;
margin-right: 0px;

  }
 #main-menu ul li a{
 	text-decoration: none;
 	color: #45c0f8;
 	 display: block;

 }
  #main-menu ul li{
  	display: inline-block;
list-style-type: none;
padding: 3px 8px ;


  }
