body{
	margin: 0;
	padding: 0;
	border :0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: Arial;
	position: inherit;
	z-index: -1;
}
#banner {
	margin-top : 100px;
}
#banner img {
	width: 100%;
	height: 100%;
}